.slider_next,
.slider_prev {
  width: 50px;
  height: 50px;
  background-color: #164247;
  border-radius: 50px;
  border: 1px solid #E8C994;
  color: #E8C994;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.slider_next:hover,
.slider_prev:hover {
  background-color: #E8C994;
  color: #164247;
}

.swiper {
  width: 100%;
}

.swiper-slide {
  width: 400px !important;
  height: 400px !important;
}

.swiper-slide-next {
  width: 470px !important;
  height: 470px !important;
}

.swiper-slide-active {
  width: 400px !important;
  height: 400px !important;
}

@media screen and (max-width:500px){
  .slider_next{
    display: none;
  }

  .slider_prev{
    display: none;
  }

  #button_wrapper h2{
    font-size: 20px !important;
  }
}